<!DOCTYPE html>
<html lang="en">
<head>
<title>DND</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header>
  <h2>Dungeons & Dragons</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="../welcome/index">Clases</a></li>
      <li><a href="#">Races</a></li>
      <li><a href="../characters">Characters</a></li>
    </ul>
  </nav>

  <article>
    <%= form_with model: @character do |form| %>
      <%= form.text_field :name, placeholder: "Name" %>
      <%= form.text_field :race, placeholder: "Race" %>
      <%= form.text_field :level, placeholder: "Level" %>
      <%= form.select :dndclass, options_for_select([["Select Class", ""], "Ranger", "Cleric", "Warlock", "Wizzard", "Paladin"])%>
      <%= form.submit %>
    <% end %>
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>
